<div class="ease-out duration-200 border-4 rounded-lg p-8 md:p-8 xl:p-10 2xl:p-16 xl:m-8 2xl:m-16 hover:scale-110">
  <p class="text-2xl font-semibold">Basic</p>
  <p class="text-5xl font-bold">$79 <span class="text-base text-gray-400">/MONTH</span></p>
  <br>
  <p class="text-gray-400 text-left text-sm">
    Get Torque's basic plan to optimise you lead generation process
  </p>
  <br>
  <ul class="ml-4 list-disc font-semibold">
    <li>Email addresses</li>
    <li>Phone numbers</li>
    <li>Unilimited Lists</li>
    <li>Export contacts</li>
    <li>Prospecting</li>
  </ul>
  <br>
  <div class="text-center">
    <button type="button" class="w-full py-4 max-w-lg bg-lime-500 rounded text-black font-bold">Start</button>
  </div>
</div>