<div class="place-content-center my-4">
  <h1 class="text-5xl font-semibold text-white text-center">
    <span class="text-lime-400">P</span>ick a plan right for you!
  </h1>
  <br>
  <p class="text-gray-400 text-center">
    Get Torque's basic plan to optimise you lead generation process
  </p>
  <p class="text-gray-400 text-center">
    {{innerWidth}}
  </p>
  <br>
  <br>
  <div class="grid md:grid-cols-3 gap-4 px-8 md:px-10 xl:px-16 2xl:px-24">
    <price-card></price-card>
    <div class="md:mt-4">
      <price-card></price-card>
    </div>
    <price-card></price-card>
  </div>
</div>